.login{
    height: 100vh;
}


.login__header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: rgb(173, 168, 168);
}


.login__data{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__data>img{
    width: 170px;
}

.login__data>input{
    width: 80vw;
    margin-top: 15px;
    background-color: rgba(233, 227, 227, 0.726);
    /* color: rgb(219, 209, 209); */
    border: none;
    padding: 14px 10px;
}

.login__data>input:focus{
    outline-width: 0;
}

.login__data>button{
    width: 81vw;
    margin-top: 15px;
    background-color: rgb(142, 196, 231);
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 20px;
    padding: 13px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (max-width:768px){
    .login__data>button{
        width: 83%;
    }
}

.login__data>p{
    color: gray;
    margin-bottom: 15px;
    font-size: 12px;
}

.login__data>p>span{
    color: rgb(142, 196, 231);
    cursor: pointer;
}

.login__google{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.google__log{
    display: flex;
}

.logdata{
    flex: 1;
}

.login__footer{
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.login__google>p{
    color: black;
}

.google__log{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.giticon{
    margin-right: 10px;
    color: rgb(0, 46, 77);
}

.google__log>h5{
    color: rgb(1, 38, 63);
}

.login__footer{
    margin-top: 40px;
}

.login__footer>p{
    color: gray;
    font-size: 12px;
}

.login__footer>p>span{
    color: rgb(142, 196, 231);
    cursor: pointer;
}

.credit{
    cursor: pointer;
    margin-left: 10px;
}